# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# Project Specific
dataset/raw_images.zip


# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Logs
*.log

# Temporary files
*.tmp
